{% extends 'blog/base.html' %}

{% block content %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <article class="post">
                    {% if post.published_date %}
                        <div class="published-date">
                            {{ post.published_date }}
                        </div>
                    {% endif %}
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}